<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>重置密码</title>
    {% load static %}
    <meta name="csrf-token" content="{{ csrf_token }}">
    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
    <script src="{% static 'js/jquery-3.2.1.min.js' %}"></script>
    <script src="{% static 'js/bootstrap.min.js' %}"></script>
    <script src="{% static 'js/angular.min.js' %}"></script>

    <script src="{% static 'js/xiangmu.js' %}"></script>
</head>
<body ng-app="myApp" ng-controller="myCtrl">
    <div style="width: 25%;height: 100%;padding: 25px;margin:auto;border: 5px solid #3a3b1c;margin-top: 130px">
        <div style="text-align: center">
            <h2>重置密码</h2>
        </div>
        <div>
            <form class="form-horizontal" role="form"  method="get">
                <div class="form-group">
                    <p class="col-sm-1"></p>
                    <p class="col-sm-1"><span class="glyphicon glyphicon-user" style="color: rgb(58,59,28); font-size: 20px;top: 7px"></span></p>
                    <div class="col-sm-9">
                        <input ng-model="Email" type="text" class="form-control" id="firstname" placeholder="请输入邮箱">
                    </div>
                    <p class="col-sm-1"></p>
                </div>
                <div class="form-group">
                    <p class="col-sm-1"></p>
                    <p class="col-sm-1"><span class="glyphicon glyphicon-inbox" style="color: rgb(0, 0, 0); font-size: 20px;top: 7px;"></span></p>
                    <div class="col-sm-5">
                        <input ng-model="yianzhengma"  type="text" class="form-control" id="lastname" placeholder="请输入验证码">
                    </div>
                    <div class="col-sm-4">
                        <input ng-click="dianjiyzm()" id="btn" type="button" style="width: 100%" class="btn-block form-control btn-primary obtain generate_code" value=" 获取验证码" onclick="settime(this)">
                    </div>
                    <p class="col-sm-1"></p>
                </div>
                <div class="form-group">
                    <p class="col-sm-1"></p>
                    <p class="col-sm-1"><span class="glyphicon glyphicon-lock" style="color: rgb(0, 0, 0); font-size: 20px;top: 7px"></span></p>
                    <div class="col-sm-9">
                        <input ng-model="password1" onblur="tname1()" type="text" class="form-control" id="lastname01" placeholder="请输入新密码">
                    </div>
                    <p class="col-sm-1"></p>
                </div>
                <div class="form-group">
                    <p class="col-sm-1"></p>
                    <p class="col-sm-1"><span class="glyphicon glyphicon-lock" style="color: rgb(0, 0, 0); font-size: 20px;top: 7px"></span></p>
                    <div class="col-sm-9">
                        <input ng-model="password2" onblur="tname2()" type="text" class="form-control" id="lastname02" placeholder="请再输入一次新密码">
                    </div>
                    <p class="col-sm-1"></p>
                </div>
                <div class="form-group">
                    <p class="col-sm-1"></p>
                    <div class="col-sm-10">
                        <input ng-click="mimachongzhi01()" width="100%" class="btn-block btn btn-primary form-control" type="button" value="重置">
                    </div>
                    <p class="col-sm-1"></p>
                </div>
                <div class="form-group">
                    <h5><a style="margin-left: 10%" href="{% url 'book:index' %}">返回首页</a><a style="margin-left: 45%" href="{% url 'book:login' %}">返回登入注册</a></h5>
                </div>
            </form>
        </div>
    </div>

    <script type="text/javascript">
        //倒计时
        var countdown=3;
        function settime(val) {
            if (countdown == 0) {
                val.removeAttribute("disabled");
                val.value="获取验证码";
                countdown = 3;
                return false;
            } else {
                val.setAttribute("disabled", true);
                val.value="重新发送(" + countdown + ")";
                countdown--;
            }
            setTimeout(function() {
                settime(val);
            },1000);
        }

        function tname1(){
            var name=document.getElementById("lastname01").value;
            if(name.length<6)
                alert("密码要大于6个字符")
        }
        function tname2(){
            var name=document.getElementById("lastname02").value;
            if(name.length<6)
                alert("密码要大于6个字符")
        }
    </script>

</body>
</html>